/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18pt;
}

.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
    background: #eceff1;
    padding: 48px;
    border-radius: 16px;

    h1 {
        text-align: center;
    }
  
    mat-form-field {
        height: 2em;
        width: 100%;
        margin-bottom: 3em;
    }

    .mat-form-field-label {
        color: #c2185b !important;
    }

    .mat-form-field-underline {
        background-color: #c2185b !important;
      } 

    .form-button {
        margin-bottom: 2em;
    }

    .button-container {
        display: flex;
        flex-direction: column;

        span {
            text-align: center;
        }
    }
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
